node_modules
__pycache__
.env
.git
*.pyc
dist
*.log
.DS_Store
.vscode
.idea
*.sqlite
*.db
coverage
.coveragerc
.pytest_cache
*.egg-info
build
*.tar.gz
*.zip
frontend/node_modules
frontend/dist
backend/__pycache__
database/__pycache__